body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.navigation a {
    margin: 10px;
    text-decoration: none;
    color: #000;
}

.navigation a:hover {
    color: #666;
}

.slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slide-image {
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 10px 0 0;
    font-weight: lighter;
}